@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .FlexCenter {
      @apply flex items-center justify-center
    }
    .ActionButtonBG {
        @apply bg-transparent bg-opacity-50 w-7 h-7 FlexCenter rounded-full hover:bg-slate-200 transition-all ease-in-out
        duration-200 cursor-pointer
    }
  }

@font-face {
    font-family: Onest-Bold;
    src: url('./assets/fonts/Onest-Bold.ttf');
}
@font-face {
    font-family: Onest-SemiBold;
    src: url('./assets/fonts/Onest-SemiBold.ttf');
}
@font-face {
    font-family: Onest-Medium;
    src: url('./assets/fonts/Onest-Medium.ttf');
}
@font-face {
    font-family: Onest-Regular;
    src: url('./assets/fonts/Onest-Regular.ttf');
}
@font-face {
    font-family: Onest-Light;
    src: url('./assets/fonts/Onest-Light.ttf');
}
@font-face {
    font-family: Onest-Thin;
    src: url('./assets/fonts/Onest-Thin.ttf');
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Onest-Regular;
}

.ql-editor {
    font-size: 1rem;
}


.newFeatureShadow {      
    box-shadow: 0px -0px 2px 3px #196164d5;
}

.headingGradient {
    background: -webkit-linear-gradient(#ffffff7f, #ffffffdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contentGradient {
    background: -webkit-linear-gradient(#ffffffcb, #ffffff78);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}