@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .FlexCenter {
      @apply flex items-center justify-center
    }
    .ActionButtonBG {
        @apply bg-transparent bg-opacity-50 w-7 h-7 FlexCenter rounded-full hover:bg-slate-200 dark:hover:bg-slate-700 transition-all ease-in-out
        duration-200 cursor-pointer
    }
}

@font-face {
    font-family: Onest-Bold;
    src: url('./assets/fonts/Onest-Bold.ttf');
}
@font-face {
    font-family: Onest-SemiBold;
    src: url('./assets/fonts/Onest-SemiBold.ttf');
}
@font-face {
    font-family: Onest-Medium;
    src: url('./assets/fonts/Onest-Medium.ttf');
}
@font-face {
    font-family: Onest-Regular;
    src: url('./assets/fonts/Onest-Regular.ttf');
}
@font-face {
    font-family: Onest-Light;
    src: url('./assets/fonts/Onest-Light.ttf');
}
@font-face {
    font-family: Onest-Thin;
    src: url('./assets/fonts/Onest-Thin.ttf');
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Onest-Regular;
}

.ql-editor {
    font-size: 1rem;
}

.newFeatureShadow {      
    box-shadow: 0px -0px 2px 3px #2f898dd5;
}

.headingGradient {
    background: -webkit-linear-gradient(#ffffff7f, #ffffffdc);
    background-color: #ffa500 !important;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contentGradient {
    background: -webkit-linear-gradient(#ffffffcb, #ffffff78);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.headingGradientDark {
    background: -webkit-linear-gradient(#00000070, #000000dc); /* Darker shades */    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contentGradientDark {
    background: -webkit-linear-gradient(#000000cb, #00000078); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.post-content p {
    margin-top: .5rem;
}
.post-content h1 {
    font-size: 1.6rem;
    font-family: Onest-Bold;
    margin-top: 1rem;
}
.post-content h2 {
    font-size: 1.3rem;
    font-family: Onest-SemiBold;
    margin-top: 1rem;
}

.post-content a {
    text-decoration: none;
    color: rgb(64, 224, 208) !important;
    transition: all ease-in-out 100ms;
    &:hover {
        color: rgb(5, 190, 171) !important;
        text-decoration: underline;
    }
}

.post-content pre {
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #ffa500 !important;
    padding: .8rem;
    width: 100%;
    background-color: #23241f;
    border: 5px solid rgb(16,23,42) !important;
    border-radius: 8px;
    line-height: 2rem;

    white-space: pre-wrap;
}
.dark .post-content pre {
    border: 1px solid rgba(255, 255, 255, 0.8) !important;
}

.post-content code {
    margin-top: 1rem;
    font-family: Onest-Regular;
}

.dark .post-content code {
    background-color: gray !important;
}

#postCard {
    cursor: pointer;
    transition: all ease-in-out 300ms;
    &:hover {
        box-shadow: 0px 0px 1rem 1px rgb(64, 224, 208) !important;
    }
}